/*====ALL====*/

*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
    border-right: none;
}

/*=======NAVBAR=======*/

.container{
    width: 100%;
    min-height: 100vh;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    display: flex;
    flex: 1;
    position: absolute;
    align-items: center;
}

.logo{
    width: 30px;
    margin:50px 0;
}

nav ul li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    margin-left: 195px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
}

nav ul li a{
    text-decoration: none;
    color: #000
}

nav ul li a:hover{
    color: #e8bcb9;
}

/*================TEXT=====================*/

.row{
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin: 280px 0;
}

.col-1{
    flex-basis: 60%;
    position: relative;
    margin-left: 160px;
}
.col-1 h2{
    font-size: 60px;
    font-family: 'Italiana', serif;
    font-weight: lighter;
}

.col-1 h3{
    font-size: 10px;
    font-family: 'josefin sans', serif;
    font-weight: bold;
}

.social-links img{
    height: 18px;
    margin: 12px;
    margin-left: 0px;
}

/*================IMAGEHOME=====================*/

.col-2{
    position: relative;
    flex-basis: 100%;
    top: -170px;
    left: 55px;
    }

.col-2 .indimg{
    width: 68%;
    height: 100%;
    display: flex;
}

/*================ABOUT=====================*/

.main img{
    height:auto;
    width: 310px;
    margin-left: 40px;
    margin-top: -108px;
    }

.main{
    flex-basis: 30%;
    position: relative;
    height: auto;
    width: 100px;
}

.main{
    width: 850px;
    max-width: 90%;
    top: -250px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.about-text{
    margin-top: -80px;
}
.about-text h2{
    font-family: 'Italiana', serif;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 15px;
    margin-left: 110px;
}

.about-text p{
    font-family: 'josefin sans', serif;
    font-size: 10.5px;
    font-weight: 600;
    margin-left: 110px;
    margin-bottom: 18px;
}

/*================PROJECTS=======================*/

.cont-gal{
    margin-top: -130px;
    margin-left: 130px;
}
h5{
    font-family: 'Italiana';
    font-size: 48px;
    font-weight: lighter;
    margin-bottom: 68px;
    margin-top: -58px;
    }

.gallery img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.cont-gal{
    width:80%;
}

.gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.item{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: .3s ease box-shadow;
 }

 .item:hover{
     box-shadow: 0px 0px 20px 3px #e8bcb9;
 }

 .item h4{
     width: 100%;
     padding: 12px;
     position: absolute;
     background-color: #ffffffad;
     color: #000000;
     bottom: -90px;
     font-weight: bold;
     transition: .5s ease-in-out bottom;
     font-size: 10px;
     font-family: 'josefinsans', sans-serif;
 }

 .item:hover h4 {
     bottom:0;
 } 

  /*================SKILLS=========================*/
 
  section{
    display: flex;
    align-items: center;
    justify-content: center;
}

 .cont-skills{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }

  .skills{
     position: relative;
     width: 120px;
     padding: 5px;
     margin: 18px;
     display: flex;
     justify-content: left;
     align-items: center;
     flex-wrap: wrap;
     flex-direction: column;
     text-align: center;
 }

 .skills h6{
    font-family: 'Italiana';
    font-size: 48px;
    font-weight: lighter;
    margin-top: 80px;
    margin-left: 60px;
}

 .skills img{
      position: relative;
      display: inline-flex;
      width: 35px;
      height: 30px;
      margin: 12px;
      margin-top: 225px;
      margin-left: -270px;
 }

.skills p{
     font-size: 10px;
     font-weight: bold;
     font-family: 'josefinsans', sans-serif;
     margin-top: -30px;
     margin-left: -155px;
     text-transform: uppercase;
}
/*================CONTACT ME=====================*/

.contact-box{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 50px 20px;
    margin-left: 275px;
    margin-top: 195px;
}

.contact-box p{
    font-family: 'Italiana';
    font-size: 48px;
    font-weight: lighter;
    margin: 0px;
    margin-bottom: 30px;
    padding: 0px;
}

.inputs{
    margin: 15px 0px;
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.inputs input{
    width: 300px;
    height: 45px;
    background-color: transparent;
    border: none;
    border-bottom: none;
    outline: none;
    margin: 10px 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    font-family: 'josefinsans', sans-serif;
    font-weight: bold;
    font-size: 10px;
}

.inputs textarea{
    width: 250px;
    height: 10px;
    outline: none;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    margin: 20px 20px;
    font-family: 'josefinsans', sans-serif;
    font-weight: bold;
    font-size: 10px;
}

.inputs input:focus{
    border-bottom: 1px solid #e8bcb9 ;
    transition: all ease 0.1s;
}

 button{
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    margin: 20px 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-family: 'josefinsans', sans-serif;
    font-weight: bold;
    font-size: 10px;
    text-align: start;
}

button:hover{
    box-shadow: 0px 0px 20px 3px #e8bcb9;
}

.imageinput img{
    position: relative;
    flex-basis: 100%;
    top: -480px;
    left: 360px;
    }

.imageinput img{
    width: 40%;
    height: auto;
    display: flex;
}