/*====ALL====*/

*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
    border-right: none;
}

html{
    scroll-behavior: smooth;
}

/*=======NAVBAR=======*/

.container{
    width: 100%;
    min-height: 100vh;
    padding-top: 0%;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    display: flex;
    position: fixed;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    background-color: #ffff;
    width: 100%;
    height: 75px;
    align-items: center;
    z-index: 1;
}

.navbar img{
    padding-top: 1%;
    width: 60px;
}

nav ul li{
    padding-top: 2%;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    margin-left: 195px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
}

nav ul li a{
    text-decoration: none;
    color: #000
}

nav ul li a:hover{
    color: #e8bcb9;
}

/*================HOME=====================*/

.row{
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin: 280px 0;
}

.col-1{
    flex-basis: 60%;
    position: relative;
    margin-left: 160px;
}
.col-1 h2{
    font-size: 60px;
    font-family: 'Italiana', serif;
    font-weight: lighter;
}

.col-1 h3{
    font-size: 10px;
    font-family: 'josefin sans', serif;
    font-weight: bold;
}

.social-links img{
    height: 18px;
    margin: 12px;
    margin-left: 0px;
}

/*================IMAGEHOME=====================*/

.col-2{
    position: absolute;
    flex-basis: 100%;
    top: 125px;
    left: 655px;
    }

.col-2 .indimg{
    width: 58%;
    height: 100%;
    display: flex;
    padding-bottom: -500px ;
}

/*================PROJECTS=======================*/

.cont-gal{
    margin-top: 200px;
    margin-left: 0px;
    margin-bottom: 100px;
}

.cont-gal{
     width:100%;
}
h5{
    font-family: 'Italiana';
    font-size: 42px;
    font-weight: lighter;
    margin-bottom: 5px;
    margin-top: -20px;
    }

.cont-gal p{
    font-size: 11px;
    font-weight: 600;
     font-weight: bold;
     font-size: 10px;
     font-family: 'josefinsans', sans-serif;
     margin-bottom: 40px;    
}

.gallery img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.item{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: .3s ease box-shadow;
 }

 .item:hover{
     box-shadow: 0px 0px 20px 3px #e8bcb9;
 }

 .item h4{
     width: 100%;
     padding: 12px;
     position: absolute;
     background-color: #ffffffad;
     color: #000000;
     bottom: -90px;
     font-weight: bold;
     transition: .5s ease-in-out bottom;
     font-size: 10px;
     font-family: 'josefinsans', sans-serif;
 }

 .item:hover h4 {
     bottom:0;
 } 

 
/*================CONTACT ME=====================*/

.contact-box{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 210px;
    margin-top: 185px;
    margin-bottom: 90px;
}

.contact-box p{
    font-family: 'Italiana';
    font-size: 48px;
    font-weight: lighter;
    margin: 0px;
    margin-bottom: 30px;
    padding: 0px;
}

.inputs{
    margin: 15px 0px;
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.inputs input{
    width: 300px;
    height: 45px;
    background-color: transparent;
    border: none;
    border-bottom: none;
    outline: none;
    margin: 10px 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    font-family: 'josefinsans', sans-serif;
    font-weight: bold;
    font-size: 10px;
}

.inputs textarea{
    width: 250px;
    height: 10px;
    outline: none;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    margin: 20px 20px;
    font-family: 'josefinsans', sans-serif;
    font-weight: bold;
    font-size: 10px;
}

.inputs input:focus{
    border-bottom: 1px solid #e8bcb9 ;
    transition: all ease 0.1s;
}

 button{
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    margin: 20px 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-family: 'josefinsans', sans-serif;
    font-weight: bold;
    font-size: 10px;
    text-align: start;
}

button:hover{
    box-shadow: 0px 0px 20px 3px #e8bcb9;
}

.imageinput img{
    position: absolute;
    flex-basis: 100%;
    top: 155px;
    left: 645px;
    }

.imageinput img{
    width: 30%;
    height: auto;
    display: flex;
}

/*================FOOTER=====================*/

footer{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logofooter img{
    margin-left:125px;
}

.social-footer a{
    margin-left: 15px;
    text-decoration: none;
    display: inline;
    color:#000;
    font-family: 'josefinsans', sans-serif;
    font-weight: 600;
    font-size: 10px;
}

.social-footer a:hover{
    color: #e8bcb9;
}
.text-footer p{
    margin-right: 125px;
    display: inline; 
    font-family: 'josefinsans', sans-serif;
    font-weight: bold;
    font-size: 10px;
}

/*========MOBILE==============================================================*/

@media screen and (max-width:480px){

    .container{
        width: 85%;
        min-height: 100vh;
        padding-top: 0%;
        padding-left: 2%;
        padding-right: 2%;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    nav ul li, nav ul li a{
        margin-left: 25px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 8px;
        font-weight: 700;
    } 
    nav ul li a{
        text-decoration: none;
        color: #000
    }

    nav ul li a:hover{
        color: #e8bcb9;
    }
    /*================HOME=====================*/

.row{
    align-items: center;
}

.col-1{
    flex-basis: 100%;
    height:350px;
    align-items: center;
    margin-left: 100px;
}
.col-1 h2{
    font-size: 56px;
    font-family: 'Italiana', serif;
    font-weight: lighter;
    margin-top: 355px;
    margin-bottom: -5px;
}

.col-1 h3{
    font-size: 10px;
    margin-left: 40px;
    font-family: 'josefin sans', serif;
    font-weight: bold;
    margin-bottom: 5px;
}

.social-links img{
    height: 15px;
    margin: 0px;
    margin-left: 42px;
}

/*================IMAGEHOME=====================*/

.col-2{
    position: absolute;
    flex-basis: 100%;
    top: 110px;
    left: 55px;
    }

.col-2 .indimg{
    width: 380px;
    height: 100%;
    display: flex;
    padding-bottom: -490px ;
}

/*================ABOUT=====================*/

.main img{
    height:auto;
    width: 100px;
    margin-left: 108px;
    margin-top: 165px;
    }

    .main{
        flex-basis: 30%;
        position: relative;
        height: auto;
        width: 100px;
    }
    
    .main{
        width: 800px;
        max-width: 105%;
        top: -250px;
        margin: 0 auto;
        display:flex;
        align-items: center;
        justify-content: space-around;
    }

.about-text{
    margin-top: 360px;
}
.about-text h2{
    font-family: 'Italiana', serif;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 10px;
    margin-left: 40px;
}

.about-text p{
    font-family: 'josefin sans', serif;
    line-height: 8px;
    font-size: 10px;
    font-weight: 600;
    margin-left: 40px;
    margin-bottom: 10px;
}
/*================SKILLS=========================*/
 
section{
    display: flex;
    align-items: left;
    justify-content: left;
}

 .cont-skills{
    width: 50%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    }

  .skills{

     position: relative;
     width: 80px;
     margin: 5px;
     margin-left: 20px;
     display: flex;
     justify-content: left;
     align-items: center;
     flex-wrap: wrap;
     flex-direction: column;
 }

 .skills h6{
    font-family: 'Italiana';
    font-size: 20px;
    font-weight: lighter;
    margin-top: -440px;
    margin-left: 95px;
}

 .skills img{
      display: grid;
      grid-template-columns: 10px 10px;
      grid-template-rows: 10px 10px;
      grid-gap: 2px;
      width: 8px;
      height: 8px;
      margin-top: -420px;
      margin-left: 95px;  
 }

.skills p{
     display: none;
}
/*================PROJECTS=======================*/
.cont-gal{
    margin-top: 120px;
    margin-left: 0px;
    margin-bottom: 100px;
}
h5{
    font-family: 'Italiana';
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 5px;
    margin-top: -20px;
    margin-left: 150px;
    }

    .cont-gal p{
        font-size: 11px;
        font-weight: 600;
         font-weight: bold;
         font-size: 10px;
         font-family: 'josefinsans', sans-serif;
         margin-bottom: 30px;   
         margin-left: 110px; 
    }

    .gallery{
        width: 95%;
      position: absolute;
      align-items: center;
      margin-bottom: 20px;
    }
/*================FOOTER=======================*/
   
    footer{
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;
    }
    
    .logofooter img{
        margin-left:0;
    }
    
    .social-footer a{
        margin-left: 5px;
        display: inline;
        font-size: 8px;
        font-weight: bold;
    }
    
    .text-footer p{
        margin-right: 0px;
        display: inline; 
        font-family: 'josefinsans', sans-serif;
        font-weight: bold;
        font-size: 8px;
    }
}   
