*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100;
    min-height: 100vh;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 30px;
    cursor: pointer;
    margin:50px 0;
}