/*====ALL====*/

*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

/*=======NAVBAR=======*/

.container{
    width: 100vw;
    min-height: 100vh;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    flex: 1;
    position: absolute;
    align-items: center;
}

.logo{
    width: 30px;
    margin:50px 0;
}

nav ul li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    margin-left: 195px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
}

nav ul li a{
    text-decoration: none;
    color: #000
}

nav ul li a:hover{
    color: #e8bcb9;
}

/*================TEXT=====================*/

.row{
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin: 218px 0;
}

.col-1{
    flex-basis: 60%;
    position: relative;
    margin-left: 10px;
}
.col-1 h2{
    font-size: 70px;
    font-family: 'Italiana', serif;
    font-weight: lighter;
}

.col-1 h3{
    font-size: 10px;
    font-family: 'josefin sans', serif;
    font-weight: bold;
}

.social-links img{
    height: 18px;
    margin: 12px;
    margin-left: 0px;
}

/*================IMAGE=====================*/

.col-2{
    position: relative;
    flex-basis: 100%;
    top: -128px;
    left: 200px;
    }

.col-2 .indimg{
    width: 75%;
    display: flex;
}

/*================ABOUT=====================*/

.about{
    margin: 0;
    padding:0;
    margin: -200px 0;
}

.about img{
    height:auto;
    width: 350px;
    top: -128px;
    }

.main{
    flex-basis: 30%;
    position: relative;
    margin-left: 145px;
    height: auto;
    width: 530px;
}

.about-text{
    width: 700px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    font-family: 'Italiana', serif;
    font-size: 38px;
    font-weight: lighter;
    margin-bottom: 15px;
    margin-left: 138px;
}

.about-text p{
    font-family: 'josefin sans', serif;
    font-size: 10px;
    font-weight: bold;
    margin-left: 138px;
    margin-bottom: 18px;
}

.social-links-about img{
    height: 18px;
    margin: 12px;
    margin-left: 0px;
}

.social-links-about {
    text-align: left;
}
/*================PROJECTS=======================*/

h5{
    font-family: 'Italiana';
    font-size: 48px;
    font-weight: lighter;
    margin-bottom: 68px;
    margin-top: -28px;
    }

.gallery img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.cont-gal{
    width:80%;
}

.gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.item{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: .3s ease box-shadow;
 }

 .item:hover{
     box-shadow: 0px 0px 20px 3px #e8bcb9;
 }

 .item h4{
     width: 100%;
     padding: 12px;
     position: absolute;
     background-color: #ffffffad;
     color: #000000;
     bottom: -90px;
     font-weight: bold;
     transition: .5s ease-in-out bottom;
     font-size: 10px;
     font-family: 'josefinsans', sans-serif;
 }

 .item:hover h4 {
     bottom:0;
 }

 @media only screen and (min-width: 900px)
 section {
     max-width: 1160px;
 }
     
 }
/*================SKILLS=========================*/
/*================CONTACT ME=====================*/

.contact-me{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.contact-me img{
    height:auto;
    width: 330px;
    display: flex;
    justify-content: space-between;
    margin-left: 108px;
}

.contact-me p{
    font-family: 'Italiana', serif;
    font-size: 38px;
    font-weight: lighter;
    margin-left: 138px;
}