/*====ALL====*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*=======NAVBAR=======*/

.container{
    width: 100vw;
    min-height: 100vh;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    flex: 1;
    position: absolute;
    align-items: center;
}

.logo{
    width: 30px;
    margin:50px 0;
}

nav ul li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    margin-left: 195px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
}

nav ul li a{
    text-decoration: none;
    color: #000
}

nav ul li a:hover{
    color: coral;
}

/*================TEXT=====================*/

.row{
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin: 218px 0;
}

.col-1{
    flex-basis: 60%;
    position: relative;
    margin-left: 10px;
}
.col-1 h2{
    font-size: 70px;
    font-family: 'Italiana', serif;
    font-weight: lighter;
}

.col-1 h3{
    font-size: 10px;
    font-family: 'josefin sans', serif;
    font-weight: bold;
}

.social-links img{
    height: 18px;
    margin: 12px;
    margin-left: 0px;
}

/*================IMAGE=====================*/

.col-2{
    position: relative;
    flex-basis: 100%;
    top: -128px;
    left: 200px;
    }

.col-2 .indimg{
    width: 75%;
    display: flex;
}

/*================ABOUT=====================*/

.about{
    margin: 0;
    padding:0;
    margin: -200px 0;
}

.about img{
    height:auto;
    width: 350px;
    top: -128px;
    }

.main{
    flex-basis: 30%;
    position: relative;
    margin-left: 145px;
    height: auto;
    width: 530px;
}

.about-text{
    width: 700px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    font-family: 'Italiana', serif;
    font-size: 38px;
    font-weight: lighter;
    margin-bottom: 15px;
    margin-left: 138px;
}

.about-text p{
    font-family: 'josefin sans', serif;
    font-size: 10px;
    font-weight: bold;
    margin-left: 138px;
    margin-bottom: 18px;
}

.social-links-about img{
    height: 18px;
    margin: 12px;
    margin-left: 0px;
}

.social-links-about {
    text-align: left;
}

/*================CONTACT ME=====================*/

.contact-me{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.contact-me img{
    height:auto;
    width: 330px;
    display: flex;
    justify-content: space-between;
    margin-left: 108px;
}

.contact-me p{
    font-family: 'Italiana', serif;
    font-size: 38px;
    font-weight: lighter;
    margin-left: 138px;
}

.form{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: left;
    margin-left: 210px;
}

input[type=text], label, textarea, input{
    font-family: 'josefin sans', serif;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 8px;
}

input[type=text], label, textarea, input{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}